$text-description: #A2AEBC;
$text-main: #191A1C;
$background: #EDF1F5;
$primary-action: #4D5FFD;
$mobile: 768px;
$tab: 1280px;
$gray-600: #202123;
$gray-500: #5B6870;
$gray-400: #98A3AE;
$gray-300: #C5CCD9;
$gray-200: #DBE0E4;
$gray-100: #F0F1F3;
$gray-000: #fff;
$black: #292A31;